bitsandbytes
datasets
debugpy
flair==0.14.0
flash-attn==2.7.4.post1 # https://github.com/huggingface/transformers/issues/38843
huggingface-hub
hydra-core
Jinja2
loguru
peft
protobuf
safetensors
sentence-transformers==3.3.1
sentencepiece
tokenizers
torch==2.7.1+cu126
transformers
uv
