bitsandbytes
datasets
debugpy
flair==0.14.0
flash-attn
huggingface-hub
hydra-core
Jinja2
loguru
peft
protobuf
safetensors
sentence-transformers==3.3.1
sentencepiece
tokenizers
torch==2.5.1+cu121
transformers
uv
